<!-- Form Card -->
<div class="form-card">
  <%= form_with model: [:admin, @question], local: true do |f| %>
    <div class="mb-2">
        <% if @question.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% @question.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>

    <div class="mb-2">
      <%= f.label :category_id, class: "form-label" %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {}, {class: "form-select"} %>
    </div>

    <div class="mb-2">
      <%= f.label :content, "Question Text", class: "form-label" %>
      <%= f.text_area :content, class:"form-control" %>
    </div>

    <div class="mb-2">
      <%= f.label :image, "Question Image", class: "form-label" %>
      <%= f.file_field :image, class:"form-control" %>
      <% if @question.image.attached? %>
        <br>
        <%= image_tag @question.image, width: 150 %>
      <% end %>
    </div>

    <div class="mb-2">
      <%= f.label :question_type, class: "form-label" %>
      <%= f.select :question_type, Question::QUESTION_TYPES, {}, {class: "form-select"}  %>
    </div>

    <div class="mb-2">
      <%= f.label :difficulty, class: "form-label" %>
      <%= f.select :difficulty, %w[easy medium hard], {}, {class: "form-select"}  %>
    </div>

    <div class="mb-2">
      <%= f.label :explanation, class: "form-label" %>
      <%= f.text_area :explanation, class:"form-control" %>
    </div>

    <div class="mb-2">
      <div class="d-flex align-items-center">
        <%= f.check_box :active, class: "form-check-input" %>
        <%= f.label :active, class: "form-check-label" %>
      </div>
    </div>

    <hr>
    <% count = 1 %>
    <h4>Answer Choices</h4>
    <%= f.fields_for :options do |o| %>
      <div class="d-flex flex-column align-items-start mb-4 gap-2">
        <strong>Answer <%= count %></strong>
        <% count += 1 %>
        <%= o.text_field :content, placeholder: "Answer text", class: "form-control" %>
        <%= o.file_field :image, class: "form-control" %>
        <div class="d-flex align-items-center">
          <%= o.check_box :correct, class: "form-check-input" %>
          <%= o.label :correct, class: "form-check-label" %>
        </div>
      </div>
    <% end %>

    <div class="button-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Back", admin_questions_path, class: "btn btn-secondary" %>
    </div>

  <% end %>
</div>