<h1>Categories</h1>

<%= link_to "Add Category", new_admin_category_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.slug %></td>
        <td><%= category.active ? "Active" : "Inactive" %></td>
        <td>
          <%= link_to "Edit", edit_admin_category_path(category) %> |
          <%= link_to "Delete",
                      admin_category_path(category),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>